@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure CDN Purge Operation</h1>
</div>

<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm("Purge", "Home", FormMethod.Post))
        {
            @Html.TextBox("ClientId1", "da6fb000-5106-4278-aa72-cfb23552684e")
            <ul>
                <li><label>客户端ID:</label></li>
                <li>@Html.TextBox("ClientId", "da6fb000-5106-4278-aa72-cfb23552684e")</li>
            </ul>
            <ul>
                <li><label>客户端密钥：</label></li>
                <li>@Html.TextBox("ClientSecret", "r6Aou2pjPWrfiWsgfaiJju6V/AlZ0fUwgYDDBcDwVKo=")</li>
            </ul>
            <ul>
                <li><label>订阅：</label></li>
                <li>@Html.TextBox("Subscriptions", "1bb2b862-f8fc-4d52-8a1d-a5909d5a0795")</li>
            </ul><ul>
                <li><label>资源组：</label></li>
                <li>@Html.TextBox("ResourceGroup", "david")</li>
            </ul><ul>
                <li><label>CDN 文件：</label></li>
                <li>@Html.TextBox("CDNProfile", "mscss")</li>
            </ul><ul>
                <li><label>CDN 节点：</label></li>
                <li>@Html.TextBox("CDNEndpoint", "mscsssa")</li>
            </ul>

            <ul>
                <li><label>资源文件：</label></li>
                <li>@Html.TextBox("Resource","123.png")</li>
            </ul>
            <ul>
                <li></li>
                <li>
                    <input type="submit" value="Purge the resource" />
                </li>
            </ul>
        }
    </div>

</div>

<style type="text/css">
    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
    }

    input {
        width: 400px;
        text-overflow: ellipsis;
    }
</style>