@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure CDN Purge Operation</h1>
</div>

<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm("Purge", "Home", FormMethod.Post))
        {
            <ul>
                <li><label>ClientId:</label></li>
                <li>@Html.TextBox("ClientId")</li>
            </ul>
            <ul>
                <li><label>ClientSecret：</label></li>
                <li>@Html.TextBox("ClientSecret")</li>
            </ul>
            <ul>
                <li><label>Subscriptions：</label></li>
                <li>@Html.TextBox("Subscriptions")</li>
            </ul><ul>
                <li><label>ResourceGroup：</label></li>
                <li>@Html.TextBox("ResourceGroup")</li>
            </ul><ul>
                <li><label>CDNProfile：</label></li>
                <li>@Html.TextBox("CDNProfile")</li>
            </ul><ul>
                <li><label>CDNEndpoint：</label></li>
                <li>@Html.TextBox("CDNEndpoint")</li>
            </ul>

            <ul>
                <li><label>Resource：</label></li>
                <li>@Html.TextBox("Resource")</li>
            </ul>
            <ul>
                <li></li>
                <li>
                    <input type="submit" value="Purge the resource" />
                </li>
            </ul>
        }
    </div>

</div>

<style type="text/css">
    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
    }

    input {
        width: 400px;
        text-overflow: ellipsis;
    }
</style>